<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6798d/control/0/plot" value="false" />
    <add key="/lpc/nct6798d/control/1/plot" value="false" />
    <add key="/lpc/nct6798d/control/2/plot" value="false" />
    <add key="/lpc/nct6798d/control/3/plot" value="false" />
    <add key="/lpc/nct6798d/control/4/plot" value="false" />
    <add key="/lpc/nct6798d/control/5/plot" value="false" />
    <add key="/lpc/nct6798d/control/6/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="317" />
    <add key="mainForm.Location.Y" value="245" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6798d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6798d/fan/1/plot" value="false" />
    <add key="/lpc/nct6798d/fan/3/plot" value="false" />
    <add key="/lpc/nct6798d/fan/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEABNhUlvoMOemBwPDB0cAZFwb1AwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEABNhUlvoMOemR/ZEMScAcfvAVQwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEABNhUlvoMOemh+91UScAIqmjjwwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAIuZ2ZxuO+emBwODlVOjraUhIwMIHPhfI7MCwmSwdCqSjGOCsC2cTnRfE4exkx6XxzJA1WsqL4Sqt3Ly50oyg4lfdVnKCFNvv0CNHcZOPNghAFPTdXkh3K6NYh5sMPHZHxdDxa2dNryyjIaJXzGcB1f//UAS3G3/bqnDzX/5zqUOpt7+Isx8M6cvTRlQ9SZOClmpcPbB88uFYOrf18H8bu5Uex2h/uJLd2EYmy0/mQlm5sXGFLiaOze02GFsv5kwNZZON+8nQNmmTjemZsPVr6uSgZsJAG7MIeWMAQAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAFvO15JuO+emBwMQmJ2wMGQEMRgO/H+wYwWECQTqdSZSMLZgXnksA1RNz/6FcDVvchPNYOJWD5fCxf0XqLHD1ah0CMDUrPyF0DvpvTsbTJy1bwlc3M3PMhom/jViHsKu2V2cMPbF4y51MDX2FxFmirw9ywJjHzy/XAim5n0dwl8vkz5Yw9gAEKsdpAgBAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOt53pxuO+emByNDu0vgewtDRgYQOPB/bdYKMJNxg6ZLxKdYJjCbIcj567lEODvvSxITRPlMZ1n2ZIi4Q7OzYlISXI1BvA8fjO20pzyWAWp+dOFCiPkzWl1k9ySawcTZJy+FOGHBbOfkHwi7ON4gzLy9GyreEOmsUdwhANO78hfUTAUjl0nv3dlg4rftl0DEdzS7dB22jIaJ7+KaB/WuuYvQiyS4mdoTkuF2XfA6wgJjP3jnUgfTa7AKateCE85fmjLg6hWyUuHsg+eXC8HUv6+DhqfCQefa6wj1LwU8hGHsd+4Qe5kavjtfbEyBqDkQ6ixkgfD7l3cn4O5xKYK6U6HW5cr9BEhcMCQ6f9uTDVc/8dghuHomJ2h8OUxy5vCAshVanbf2wPy+2zm8BWov0J3s3ulQNxxzfrYsDap3gzMAdk49TjQCAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOt53pxuO+emx73Dua6B7y0MGRlA4MD/tVkrwMz37LyuEZ9imUBsxoZTzhe7r4nD2E57ymMZoOqjCxeC1YPMMX6caAYT/5i9FCzOqPDXOflHItycx8uPsMDYGsUdAjD1K39BzHm/mc110nt3Npj4bfslcPO7DltGw8R3cc2Du1PoRRLc/N+31Nlh7AfvXOpg6g1WQcz/YX/I5UtTBly9QlYqnH3w/HIhmPr3dZBw+PH8nEvtdYT6lwIewjD2O/dksPiP9xquFxtT4GrY1LXhbnApgqj59Hy165X7CXA1E3k/c8PYW3sg7mcChlV4C9QcIJvdOx0u/mxZGlwcALKsBdi8AQAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOt53pxuO+emBwMQBL63MGQEMRgO/F+btQLCBALNOhMpGNtpT3ksA1RNdOFCuBrjx4lmMPGP2Uvh4m4L1NhhbI3iDgGYmpW/EHonvXdng4nftl8CF+86bBkNE9/FNQ8uznu4ixPGfvDOpQ6mxmAVwkyRt2dZYOyD55cLwdS8r0P466z1B2sYGwCAsp+iCAEAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOt53pxuO+emBwPDB4fA9xaGjAwgcOD/iYkrIEwGC0fb07FMEPYcx6/nEqHsHY5t0slQNpOTAjuMvc9RNikJyl7m+FkAxt7m+FkExp7g6FQFYy9xPH8VZuYaRw57mDkzHE1WJcDt0phaHssAdVvJjIVQt3E4Su1JNIOJc01eChWvcPS6CDPziKOiMMzMdY53dsPEFzlqFHcIwPT2X4aZucpx0nt3Npj4p7QlUPETDsVzLKNh4rcN50HFXRzZXsD8csxRZwLMrjbHqXMT4PaqtsHENzg+eOdSBzPHYBXMXgbHL00ZUDUFDgpZqVA2g/3B88uFYOrf18Hi5YJD7XWY+ga7vfsvs8DYvp0wvTscZpzOhoWnQ2U7jO1gH3cuE6bX3nc6zBwWR2V+mF4Jx3fuMDcbOF5sTIGyOxyELGD+bXBw/YoQP62AYGt4w/QmOFy5DwsHB8eQyBwoO8WxQG8SlB3iqOllAGX3OM75DIujKY4cHknwtLG1B8ZmdSpeDbOLyem1cjqUPc/x2bI0KJvTCQDFLvBI3AIAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOt53pxuO+emBwPDDofA9xaGjAwgcOD/iYkrIEwGAUfb07FMEHaT49dziVD2BMc26WQoe4GjAjuM3eEom5QEZbc4fhZIgot/FoGxUxydqmDsAsfzV2FmVjhy2MPMyXE0WZUAN0djanksA9RtJTMWQt22wkFqT6IZTJxr8lKouI+j10WYmT2OisIwMxsc7+xG2KVR3CEA09t/GWZmiuOk9+5sMPFPaUug4h0OxXMso2Hitw3nwcOH7QXCjzoTYHaFOE6di3C/ahsifB68c6mDmWOwCmbvBIcvTRlQNRscFLJSoewZDgfPLxeCqX9fB4uXBQ6112HqJzjs3X+ZBcb27YTpPeAw43Q2nF3ZDmMvcIg7lwln+06HmfPBQZkfpveHwzv3ZLjei40pcPVCFklwtutXmPgKh9MKMPYJBw1vmF4H+yv3YeHA4RgSmQNlSzgW6E2CszW9DKBsE8c5n2FxZOPI4QGzK8Zxaw+MvcmxeDXMrg2Or5XToewIx2fL0mBudgQAnkud5dwCAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOt53pxuO+emBwMQBL63MGQEMRgO/D8xcQWECQQadSZSMLbvnvJYBqga/8KFcDVSexLNYOJck5fCxd0XqLHDzSnuEICp6b+M0DvpvTsbTPxT2hK4ePEcy2iY+G3DeXDxN7O7OGHsB+9c6mBqDFYhzBR5e5YFxj54frkQTM37OoS/zlp/sIaxAV+XDO8IAQAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOt53pxuO+emBwMQBL63MGQEMRgO/D8xcQWECQS2p2OZYOyv5xKh7Aa7NulkKNvBXoE9GS4um5QEV/9ZIAku/lkEwXaqQqg5fzURzuawR5hjsioBzvbdUx7LAHWbf+FCuNuk9iSawcS5Ji9lhKn3uogwU1EYYead3QhxjeIOAZje/sswMx3sJ713Z4OJf0pbArereI5lNEz8tuE8uF1sLxD+0pmQDDd/6lyY+xnsVdsQbnjwzqUOZo7BqoVwc740ZcDVKGSlws05eH65EEz9+7oVcPW11zPgaiqzqvhgbN/pcHF7Zf5UuJnv3GFuEHC42JgC1ytX+Z4bxg6JzIGrL9CbBFej6WUAZ8/5jEgDHB7weLTf2oNgF6+Gmd9g/1o5HS7+bFkaPM0AAIUjuSN8AgAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAFvO15JuO+emh4a/p6PZCQtDRgYQOPD/wY4VYOYH12BHm9OxTCD2Bc1gx8/nEsHsgpZgx8IvSWB2xclAR0u9ZDDbw93fkcUaIl5wy9eRzwLCduYLdPwoAmG7yAc7eldB2Md3BTkeuwox07w6xPG9OMScPweAai4mgNl7WEMczaaWxzJA3ZY+YyHEbfYhjkxTE81g4iq7lkKczxnsaH8RYmbDnyBHHWGImRZfAx2f7IaKBwc6svl0CMD0LvsFMdPEOdix+oQ7G0yctW8JWFzqYaBjQqllNEz8tuE8sPi0WYWObC8gfvn0Kt/RczvErkXBBY6T5kLcr9VQ4MgdDxF3ii10fPDOpQ5mjsEqiL05X/84fGnKAKu5cvSbg0JWKpj9wfqbw8Hzy4Vg6t/XQeLlwcmvDrXXIep/TP7qMFcsG85WWAkRf6H41cG3E2KOhvpHhxmnIWqqYr86TFgHYcf0fXMIP5cJZqus++oQPx2i92PtFwdJfojemRa/Ha4pQNzfc+Onw8XGFDBbPeCbgxA0fjlUvzq4fk2Bs08rQNhhyV8dbIogev28/zhcuQ8JE5n1fxwcjHLAbJvTfxzaQyeB2Xf6/zgIKRuA2TXz/zhslIKY/+8+gyO/B4Qdt5TZcWMPhC015bdDwWqIXS2afxyu/UkDs1lm/XFgOgdlJ/11AACt+lvC6AIAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAD2RX0hTURzH15IhBipT0nqIC/XgQ8T0YUxaOqJv3TAfSynMLU2nBq0ojCChYWRgMATJB42Cyv4R+hANeykKmQ4WoywuwdkeIqRzaEQGEVHdzvdez9OHL9/f9/c958xWjvbvmbbM6HIBwUyocYPn/3nxt5i+rzHSJBDOdnm1GhT4notpjjQInFk7odk4LdC8q0dzcUWgbDf1SHUBlSFy7XWBb7XkREig7SJ51BRYXGHma49AqY45qW22Jx8l1wgEJ4e7PE63/qnb7FYh4J2MBV19x8Jd1g8LtOaZ6WkR2FnDTCMu8Om5oycFfIfGqt3Ze7+YOWff91bpgM/Vi313tN45JBA933zM1T823tT6aocF3yrv8nPawsFn3BUatzAxw/71Vyxs6qaejlkoft034uYEHnJv/JXEWjJO/14FY/AkO7crvHwz63f9pRHnX44oXPpAf+qowszmoXU2HlCf61Fov8acwFOFqSw96rhC6gl5bL9CR25A84VOhe4bnM0lFLZUcfbPZ4n3Bvs3bFTIX+7VnGxT8Dv/m7B34UfvOmcN8jl7V/gsZ8vyEu8KfJPyJYlI0ynNmUWJq4cn2Ccr4d8e0GwuS8xvZb4Zk6gyyZnSF8yPkx8XJBKPuCv91u75u49sz3pzDi9I/AO2/WGA6AIAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAD2RX0hTYRjG14ghFDpWJMk+O18ZRIVo0FJcNOiJjP5cBNVFyKaZ9u+iAhGD5FhuX4EXIohOMk5YaUbRroy66HQTxoHJoCYh0ogRQdCMFCKEsj3f8Vz9eHjf532+84yX9rbvv/ep0cyaCE3X1a7x/P/sv7mXE8R9CmGnyVvk7Qq/0s3kqMK1xZYimwcTqK8+R57oxdoG6p43t1FaR37hxPFzIzlSqXD0BnlhPoF3H+m5sKxQKKePHV+ZycTIKYXQYGeTR2drH37AbLMK3sHmkKtXvXpE3a9wIKNzlijs3qCzRRPIv9b67zh8x+743d3Hf+gZ2atgFQ77XD3X9rCoWycTiHXUn3X1udr7RT1mjcD3jW8x+pI4MsVbxkwSA6PMb31PYl1U610jyP1At+tTM8m7dl5i8dYF/p+CgHHpPHMOCbydGQ+484Vu3csJgZuznDd3CYxuurzKxhOtfwni+F36mKcrMOxwxioR6H9Oth2BM+mLvBsWiA5xt78riM1l3PVPG8gaupevW5DpaWVfYwIB3a+ZD+LQUusqOwY5tl4gfJ27uU6JD591p1MSkT1XyO8l1KkB8phEYFsN+ZlEqoL+9lIVyho19+xAqo9seSWuPuWtSItEdrmNPCnhTWveuRX/ALLBf4ToAgAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFvO15JuO+emBwMDg5vZCQtDRgYQOPD/wY4VECZQXL3ORArGNptaHssAVZM+YyFcDdPURDOYuMqupXBx/wVq7DA2m0+HAEzNsl8IvQveu7PBxB+kLYGLJ5RaRsPEbxvOg4u/md3FCWM/eOdSB1NjsAphpsjbsyww9sHzy4Vgat7XIfz1MumDNYwNAEmpKoYIAQAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAFvO15JuO+emBwMQmJ2wMGQEMRgO/H+wYwWECQTqdSZSMLbZ1PJYBqia9BkL4WqYpiaawcRVdi2Fi/svUGOHsdl8OgRgavovI/RuF/Ngg4k/SFsCF08otYyGid82nAcXfzO7ixPGfvDOpQ6mxmAVwkyRt2dZYOyD55cLwdS8r0P462XSB2sYGwAJa8L7CAEAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEALsZ05JuO+emxxNXbqdf7daGjAwgcOC/7M+lYObJby8drU/HMoHYArodjl/OJYLZD/g7HPO/JIHZih+6HC31kiHi5zsdZZMg4nZcHY5fBSBsE+NOx08iEDaPU7tj7EII+yBQzZZ1EDMX3Gp35LCHmGNl0u7odzEBzOZb2+FYMbEylgHqNu7S+WC3hemxOk1lSzGDiU/0WAwW77s+wVF4LcRMv6QuRxsBiJlbPbocV+yHiIvf7HIskO0SgOmd6rMArPfRrteOxf6ebDBxaz2ImS+iOZx4TG2iYeKn1WeDxZU+vHW04YaYXzOly1F7AoT9Z2Wn44y5EPcza3c6yrRBxH8IdzpWJbjXwczJeDUPbE5+0BHHL00ZYDVRSxocFbJSwez98xscuc6sFIKpX9a0DKw+bdlhx9rrEPUBZ5sc54plg9m/7JoczS5AxK8rNzuaJ0HNiW9xnHEaosbvUYvjhHUQtp1Xs2P4uUwwe82cJse8QxC9bt+aHeW5IXolW1ocD/5MgorvdbzYmAJmb9g00VHIAiLO4NDs6PoVIr71RJMjYz6E3aPT5KjuDfG7WR2D01s2SPg3iU51NDfKAbN5mVodO0IngdlnfdocrbwNIOmkqc2x8xNE/ZWzHY4sHhC7Gq92Ou7pgbAtTvY61l2C2JWT3u/47E8amH1qW4/jl7MQ9rrjfY4Aev1ArugCAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAEsO7Ui3nXPTgyHA2bGg39yQkQEEDvxf8XElhHmEzSn8UywTmH2hxeHDuUQIm6HKqfhLEoS9j91Jqi8Fwi6Y4si9JQHCnmHuqBIPVfPhksMnESh7g7GjcxWUvaPDccs6uJmONz5AxRt2OyT9gJoz54Ej54HSWAao22rdFkPc1vLEUdk0wQwmziK1HOr8W47V8lBzgP66MhfKXsDjeHs31K4Ga4dT/m0CML1scksYoeKOTHWubDDxyhvLIOIe7xzPdVlEw8Tlls+DiCucduxZnQz3i3AmlO0g4zh5bgLcDbZroeIeeY6XHZzrYOYUr4f6pUPA0bEpAxoODAyKWalwd25kXyoEUx/jvpoR5pdLnMVw9YIaKXD2F7k0CPuBtsOkI1DxA1GON+5nw8x0LDHJhquPfJ4JZzuzQd0QIeHYWw51w5Y7joULoe4/c8PxfGMKPN5FLKBhe+CWvftXqHhClsOvJynwcAiug6rpmOA4WyIJlpYcxWKzIGwOf8eYrZMh7Cl9jhLTDODxfsYdGoYGRY6W06B6ayY56rpA2Yc2ODE7ItxZlgz1+x5Dp7eS6TA3OAEAGukY0+gCAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAGu36E23nXPTg2EHh6PPGiNDRgYQOPB/09p1EKaCtwPj51gmMLvB2iH5ayKE3SHgmPslCcIOOOwg05cCYR+IcuDYkgBXrx4PVcNQ5fBJJAmuxrkKxr7lsH1dIlzNnpNJcL3V8lDxD5ccnt0piGWAum2h5gqI2xJeOfwPjDaDifNfWw0RL5jiMMUNYdfluVB2QpbDrd2JcPEVOY0CML26jCvhem/PcmCDic/bDTVzw2aHlcuNo2HiTl2L4W7oXp0MN18kMxlu/vy5CXB/ibZBxYHhebrFrg5mzo86qF8YftnnlWfA1NtVZqXCwsF+udMCIZh6Xp4NjDDxp3NroOoZGJIWHWCBsXWvpsDtLbiWDWFfaHHojc6Gq5/1NBPK/mWn8Ckdwl7A4/CrB2rvCwZH7RaYm087nG2Emrmgx4HPAhanv+z/74SZU2XvppAAi1P7o3OS4HpnS0DZD7QdvppmwdkNdybD4zo+1wDK3u3QXQA1R2CJg/E0qF5gvDxTgrJvhDnyW0HdCQz/99VpcP9+V0+Hux8AUSrBJdwCAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFNoksmwnXPTw65Gx+l1/CwDRgYQOPD/MYMzE4hlc9Dcab5VEph9Yb65k3JDIph9bZu5U+uOZDB79iZzJ1lOiJpv982dardC1Ow5au60Rgyihq3f3GlZFkSNz2pzp0T/BIg5rhZOgpcganRiLZ0WLoKomXLOwkkHav6f5eZOE9WuxTBA3Sb40x4sHjnd3Kkh+rApTLygzQUs/r7P3GnPfIg5ufvMneQYIOy1+82d7uyGuO1KpbmTetlLfpjelWtfscPY5zc7gdXIhVg53RSbFQUTfx9qCxZ3vmTldHsmxMx2JisnXwMIu+C2pRPXCwh78QQrp4wjELbUDCun3z+X1sLMEWmCmH/M+qvjruZMMDvb5ovjZXuIfwtWfnaUZuIUgqn34PUEiwcu++KoUJsOZm///9nRrC4H4pe3nx2Z90DEe7K+OFrvTwOzpUO/Op7zzYbE3eyvjsuPQ9S32n11LKmC2Msf9tWR6UQqmF005Zvjch8I+8qun46WJRB2Sewvx52GkHAz0//nyBMB8Vf/sf+OyaoZYLbqFwanfCOI+w0s/jrOyoGon8LJ4BRTCVEfLMzg9JGtGhK2x/877vTyBbNX+zM4/V2VAmZPMmJwOhcLUf9+xz/H6ukQtqD9P8dEF4j5c7ieOv45BVH/z/KZ45FAiH8l2J45CpyBiIsefuoIAPIH5RXcAgAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWSbUhTURzG14LMKNIKKbIlRQYRZKMCTdmDSZg4IiySWi/TXmYJvYmiMjEjCaFwKxJ3RmtXMgr7VJEuIaFREqVgIi3ND+WHznUrCxHEwpfz7N5PPx5+57n//+GkNaS6cvyRfD+GMX7Kl7HItPD1zP4w7TMv0OBdiUBWieLiMonN9U7F/kaJm52lirOvS2xIpPM9JOF+SedOq0RHCh3zYYn2C3T+Vkk4D55WXJKtI3mATmVgHEGNzi5dx/Z4f+iahCd9yGGKz5Y8bVP5/ZMS9cff7jbyy415Kh8rkugOsCe3WcJiIn/xSIy85mxJmRJbK+VK4+yTZ3qCwf3Pc5XjiEQRSfEdM/LfR3JU/qI6huFWdrZficKeQZ6yRbHsJ7kgPQZXmNy7I4aZ6Uduo2dNA/sHRwRCN8oU38oS+GzjvpZvPqw3J64y/PwVB1Q+5BZIc59XPLlaYE9dOe9hqcDibuZfjwrsfXNO8a+oQJ/9ouLRdX48fk//3qhARQ3/2xQTMPee5b29mncKya7OB8isIIc3BtC1k/dmvR3E8mLutbZZQ+kWl+IJvQ2XrJzfOvEQvnL673o0OKrpb/uk4c+SWsVX5892Fdjjs7Xh/9MzfD+TGvpO0A+NBVHbQt7fEoQzj/2FXg/+faBvKfIifIj7brJ6kfSReVOCF3MBZ6Ux3AIAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWSa0hTYRzG54LOXiucEQuyi9HFL+foW3AWFSZPW2XmiggrYmLLLtPZxTLBxkRWfgmK6otsGTKhVqIQhOBKWJRdqDRoEIwuH4yiG4R9CckwfR/P+fTj4Xee9/9/eQuji4Olndny0ZgTP2riMsc2/T2c/GTz2Kdp6ymBrg2HFF9oF1jRFlA82izQPlCr+FqLwBJBJ+0XiPTTqTsu0OuiU3JF4FY9nXWtAoFdBxVPFgjkv6Fztt6BRDcd1xMH9Jn+PW0CV1e/9dtmZssfL1P554sCsehj08r31XhVvmnqrMEu9uSdFlhqI3sbBd4/4Gy3bwgUNX/Ls/690/dds/j1vc3KiQ5ryLriB6z8V1WpyvdGNLyLsbM6xwGfJJuLHMj9Sp6T1BAcIld2a/g7fjNi9SyIsv/pDon75+sU/+yUyJRx38RLiQK7mG/55fO2q3xLWKIwckyx+66Eu7WB99AvMWuQueeyxMb0UcUpj8SIL6QYhkTyGf0vFRJN53huaMqxPz/Ce/tYgmQleeJDMdY3kXf2FCO1hvfWccbA3P3ca+VvHbWrgooHvDpOruX8Cx8ZiDfQH87q8LfQv57RMTY7rPjPmI5UhY+z9en413OY7yetY6SafmabgXAH+dIJAwEv+3MbTUy8oJ9wmhjazX2XLTfhfMU85DbxH5CQrpjcAgAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAFNoksmwnXPTY2fyPocNoVMNGBlA4MB/OW4PJhBL+FiLw3yrJDCbwWGOA39kIpi9qmuPw8z7yWD2sXcvHGQ5IWp+Gi9xqN0KURN2daLDGjGImiMTjzksy4Ka07DIwU0jAcJOeOUgfAmiJkT0j8OKRRA1LAzrHVR3QMQbJjI46p67EMMAdVt1oCtYXG2ZiaNd4D5TmPjGCZ5g8XP+4o5b5kPMCStd6CDHALP3rcO93RC3Xfn5w0Fk1xN+mN65ba/YYWyOfe5gNUb83I7zeaZGwcR5LZ3A4km73B3vzoS6U+GJQ3o41HyGEw4fDkDt3XrAYd8RKHvqEgf+mIW1MHOOuEHMZ/NkcNzVnAlma5olO2RLQvzrdP+LfborixBMfcoHX7D4YZ7fDgq16WD2Ji1RB7O6HDB7FruKw7spEHF7n0iHgGdpYDYH116Hc77ZYPa6VZMclh+HqN8n7O1QUgWx99x2bwemE6lgtsPFLQ7LfSBsb2U1R8sSCLu06YfDTkNIuDEI2DryRED8tdrLzDFZNQMSVvvPOSjvhYbDgg8Ozx5C1FdunuPoEAQRX3VokWOnFMRtlwSWOdrGQdUXrHX8uyoF4rZSL8dzsRBxRgZ9x5iCJGjaOOXQkA1NJ6b/Hf6cgqjnsGR0PBIIMVPI+oyDwBmI+Bz91Q4Av22JRNwCAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAFNoksmwnXPTo7z0o8OG0KkGjAwgcOC/HLcHE4jVVNHjMN8qCcxmcHjuwB+ZCGUzO868nwxmlytZOMpyQtToeL9zqN0KVXPglsMaMYgavqrPDsuyYOZsdXDTSICwF/A4Cl+CqGFgeOiwYhFUTcMiB9UdEPE1RnqOuucuxDBA3VYd6ApVk+toF7jPFCa+cYInWNznRITjlvlQcw58dpBjSILbdW83zG38jiK7nvDD9M5te8UOY3Pscwersb6p6TifZ2oUTJzX0gksXvWt0/HuTESYpIcj/PXhAEJ83xGYX6448McsrIWZc8QNYv6blgTHXc2ZYHZH7BSHbEmIf7tkcx3SXVmEYOpTPviCxWczcToq1KaD2f/sLzuY1eWA2RG6yxzeTYGIi8o2OQQ8SwOzyxZ9dDjnmw1mz7zx0mH5cYj6nrk7HEqqIPYWJS1wYDqRCmYH6Mg5LveBsMuYNjhalkDY6t+kHXcaQsOtQcmRJwLqrwdCjsmqGWC21UUmR+W9ML+bOj57CFEvHdHk6BAEE5dx7JSCuO2GJ5OjbRwsXlQd/65KAbNFdis6notFmB9TAGUz6Ds2ZCfD2X9OQdQfWxfseCQQYqb1RG5HgTMQ8Yqk/w4Axc7PbdwCAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFNoksmwnXPTwy02zHFD6FQDRgYQOPBfjtuDCcTiucHvON8qCcxmYDjhwB+ZCGWLOc68nwxhLzBxlOWEqIkX/+1QuxWqJoHNcY0YRM2lbY6Oy7KS4OJuGgkQtoOfo/AlqDkJWY4rFkHVLFB1VN0BEa/+Hu+oe+5CDAPUbdWBrmDxeRyTHO0C95nCxDdO8ASLq37JctwyH2qOA7OjHAPMXgvHe7sT4XaJ7HrCD9M7t+0VO4zNsc8drIZ1s7fjfJ6pUTBxXksnsHhTeovj3ZmwMPFwTA+HmR/o+OEAzF4Zx31HoOwDtxz4YxbWwsw54gYxv9wpxHFXcyaY3T2X2zFbEuLfDcFTHdJdWYRg6lM++ILFLXQCHRVq08HsuTfcHMzqcsDszLbNDu+mQMTjpog4BjxLA7OlZho4nvPNBrN93rg4Lj8OUb/gxkuHkiqIvfy//zgwnUgFswPOiDgu94Gwk9rrHS1LIGz1be6OOw2h4XaD24knAuqvDzsdk1UzwOzSpihH5b1QcYVax2cPIep7mbicHIKg4gJ7HTulIG4rs2Jyso2Dihf8cPy7KgXM7vp70PFcLMz8BY4xBVD2AxfHhmxoOjlQ7PjnFER92aNIxyOBEDM1tkU7CpyBiCe56zkCAALN/bDcAgAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAFNoksmwnXPTQ/9gjP3xmqkGjAwgcOA/+xN3JgYomG+VBGWL2fNHJkLZHnYz7yfD2PaynElw8dqtCDVrxCBqFE6L2S/Lgqk5YeemkQBlT7MXvgQz55f9ikUIu1R3QMSn37hvr3vuQgwD1G3Vga5g8cPnjB0iK/aZwsSnZXqCxb0yXthvmY+wS44Bxq6yv7cb4jad09PsRXY94Yfpndv2ih3G5tgH8bv+wVX283mmRsHEeS2dwOKx/L0Od2fCzbdPD0+C++XDAYS9+47Aw8SeP2ZhLcycI24Q87cLx9vvas6Eh3O2JMS/DW9c7NJdWYRg6lM++ILFk/eftVeoTYerN6vLgbPfTYGIF3xwtAt4lgY1/4f9Od9suJnLj+dA2UfsSqoy4eJMJ1Lh4st9IOwTfkoOliWpsLhw2GkIj1N7nghEXCerZsDZynsRfn/2EKK+K7fF0SEIKj5DzqlTCuK2N1OUnWzjoOI3VJz+rkoBs60Vlzmei4WKT5juGFOAsKshOxke5n9OpcDtOhIIMdN9o6u9wJkUuHoAH/LpbtwCAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFNoksmwnXPTY8/HeIfjNVMNGBlA4MB/9ifuTCDWO9Up9vOtksBsBoYT9vyRiRB2g7XDzPvJYHaXbIiDLCdEjc7pafa1W6FqGNbbrxGDqNnn991+WRbCHDeNBChb30H4UjKUneiwYhFCjeoOiPiGyx0OuucuxDBA3VYd6AoW939z0iGyYp8pTHxapidYfIHtE4ct82HmPLSXY4CyG0Ic7u2Gue2XvciuJ/wwvXPbXrHD2Bz7IH6Xqj/gMJ9nahRMnNfSCSw+fY6U492ZSXA3p4cnwf3y4QBCfN8RGFvMgT9mYS3MnCNuEPN7ZMsddjVngtmn/NbYZ0tC/KtgXWmf7soiBFOf8sEXLH7tAKOjQm06LHzszOpywGy/N0fs3k1Jh4d5wLM0MPvSw/v253yzIezOu/bLj8PUu9iXVEHsdd/oas90IhXMVi/TdVjuA2GLWK9zsCyBsFOW9zvsNITHqQNPBNRfB/odklUzwOwTftYOynth4Wzt8OwhRP2RG56ODkEw8d0OnVIQt3XErnWwjYOJX3H4uyoFzPbJSXA4FwsTz3WIKYCxlRwasqHppKHT4c8piPquu7MdjgRCzGRqiHMQOAMRn37jvj0A8LDAk9wCAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAFNoksmwnXPTI99I3PF4zVQDRgYQOPCf/Yk7E4jl1sDvON8qCcxmeODiyB+ZCGEfiHKceT8ZzC4/VOkoywlR4zYxwrF2K1SNg4zjGjGIGuPyZMdlWVBzFoQ7umkkQNgKtY7ClyBqGAz6HFcsgqkpcFTdAREXs8t01D13IYYB6rbqQFewuEbaOsfIin2mMPFpmZ5g8X0ljY5b5kPNSbBwlGOAsg/0O97bDXUbwzRHkV1P+GF657a9YoexOfZB/B59crLjfJ6pUTBxXksnsDiH/CLHuzOT4O5PD0+Ch8mHA1A2Q6LjviMwv9g58scsrIWZc8QNYr5/T5HjruZMMPuU3wGHbEmIf9XLftinu7IIwdSnfPAFi68SC3ZUqE0Hs5dE5DiY1eWA2Tw56Q7vpqTD/OgQ8CwNzGZ9beN4zjcbzJ53Y6bD8uMQ9bc6ex1KqiD2dsj2OTCdSAWzj+ipOC73gbDnzfBytCyBsDcGVzruNISGW0OnI08E1F8C7x2TVTPA7LKmAEflvbAw8XZ89hCifkXiT0eHIKj4DRWnTimI247+43CyjYOKSwg5/V2VAmZv2FzheC4WEW4xBbDw1HdsyIamk4YQxz+nIOqP6SU4HgmEmHlzpZSjwBmIeJK6tiMAOJv+y9wCAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAFNoksmwnXPTI66p0P54zVQDRgYQOPCf/Yk7E4ildHyj/XyrJDCbgWG9PX9kIpRdZT/zfjKUPc1elhOmRsy+ditMjYf9GjGIGgVrd/tlWUlwvW4aCRB2g5KD8CWYOWIOKxbB1HjYqe6AiOfk6znonrsQwwB1W3WgK1hcpSzPIbJinylMfFqmJ1hc1STCYct8uDn2cgww9i/7e7shbtuwYKq9yK4n/DC9c9tescPYHPsgfq+aZOcwn2dqFEyc19IJEiYNNxzuzoSa2cDpkB6eBA+HDwcQ7H1H4GHiwB+zsBZmzhE3iPltc7PsdzVnQsNH1D5bEhYODAzprixCMPUpH3zB4moLFB0UatPB7IY3LnZmdTlgdswnIft3UyDiMjUV9gHP0sDs5oB19ud8s8Fs942T7Zcfh6j3e3PErqQKYq96mZs904lUMFvEep39ch8IW/1btoNlCYQ9Ye5P+52GiXC/8EQg0kOyagY8fpX3IsL52UOIepOCMw4OQQjxTimI24qSghxs42Bh2Onwd1UKmD39xn37c7Ew9Q/tYwoQaaYhOxmeZv6cgqjvmivqcCQQYmao+jd7gTMp8PAEAC5KKf3cAgAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEWSXShDYRzGDzcoNSFFrJNZNp/z/dV09ogoaiifo9nMxly44IamRSn3bk6J5WIkl5RvJ61IWpKbXeC4WSJSyhWRzv89e6+e/v3e53n+by+/kO0xr0ZaObkY3TOiKY77P9Lv3GtTvCLLsV7vULTdCE3/iKIFA8RHp6I5I3KSiJHz4dsjRsrDTgYxAT2CE8TweWgx2FXPtFti/CXY2ohl6ffZXQMu3+5sHHX77LMQU4bo1HkVm3+1NVMHE3bXyUcqhJYjHSjEwxHrVor9yLOG3V1beklg2rlGu/NmCEXiAJtPZjbSvo24F1nPCrh7HWr/DymWdRpi+xpxxgd9zCd9AcTX4nBxXO3pzaR9JR4aV2Iq449v2iirBrzPrXpWz09SVi7eV2jO8bBGx4jRIdzhpSwdNi8Yz2N6lnIFLeIvXarPZjtpuQB106SlChyU0bvJrUjuY/sOwqn3UG4HdCfsTRoQfSKes0Loojk3guUs6uZ3wTxMc8GNn+1RyrIjPMT+Ug9sU0xb4PfS+8iV+L4iXihGqJM8AwVIuR5V/8wfADu8Q9wCAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEVSTSjDYRx+ObDNbGPCNJo0VhQSRdE88rGifByMRuzD13bYYS40/aOUu8tKWzkgOVK+LSlLWpKLA3JZIlLKiUj7/f7e09PT8zzv7/e8r2neONG4ctshhBJ906GqFPF3oj+zLy2pSahGpMGZxEIF7cAo8TkIPbiSWMpEoZI0VgWCO6xRYiuXNEKNtSnOSUObZYS8pdBfc44GG6ukieph3mVvBmKvNw5Bs33Ym4k3I+E/rWX+09ZK3nJsR5yyt0hwZgbuD2g2YcHu7ZOWveHF53TGrjDtbq2BtSI0yLzP0ERz6nAX4sw8jPfz7ka8Rxnn4viMNZk4Ma0FOSdnHpSjxf7CJOnz4TVwDwJajyKb9YdXNuINMAXHSa9C3ZxP3uttmXgpG92JMdoxH/EuL2Ej1s998psGZuheKR2pMQ9llmC9k7AoQ32A+UrsVVNvUi/Udt6xDi7zBOEClBxx58VIPHLP7bD2Ei+NYqmAZ3Ohcfif/950E65HfOj/Dzj8Trkrycv/IQtfF6xX46yHMzXQXbpl/AtKaQpV3AIAAA==" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFNoksmwnXPTw9yGzSlnzkwDRgYQOPA/6YgzE4g1x/qH43yrJDD7uc8fR/7IRDD7iy6L08z7yWD2TkV2J1lOiJrezQxOtVshaqb//eG4Rgyi5vobVqdlWRA1/3Z8dnTTSACz78zicNL5CVFzbw23U381RE3AGWYn1R0Q8dwSQacTb6/EMEDd9jnCESy+aIGc07OCQ6Yw8W+erhBzfESdLhyDmDOLi8FJjgHC9r3C6XRoCsRtNht4nXbcfMEP07t97St2GNurHOL35Epxp5jgmVEw8YBPtmDxyz/lnO7OhJj5UoLFKT0cwr6zmtHpwwEI+/oaFqd9RyBsLbc/jvsVltXCzBFpcgKLHzrD57SrORPMVkx765gtCfGv0YdrjvypHEIw9XsueILFV33jclKoTQezN02/4WhWlwNmPzl52/HdFIh4qPJjx4BnaWD2qU8/HM/5ZoPZG1a9d1x+HKL+k+oDx5IqiL11kQ8dmU6kgtkX5/93XO4DYR94LuFkWQJhc0XyOe00hIQb03FtJ54IiL+esGo6JatmgNkNCZxOynsh4hO+cjk9ewhR7/Ml2MkhCCL+d1G8U6cUxG1TVBOcbOMg4plliU5/V6WA2T9f6Tidi4WIH85QcoopgLBXZDE7NWRDwmfuIm6nP6cg6qv12ZyOBELMZNrE6SRwBiLOEcDqBADS0L1U3AIAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFNoksmwnXPTY8Wm7w45c2YaMDKAwIH/SUecmUCs9PNbHeZbJYHZmzaeclBuSASzjR9/cGjdkQxmv6phdZTlhKjhar/tULsVosYj95DDGjGImivv/zssy4Ko2cy23SHRPwHM3uDG6yh4CaLmXC6f48JFEDVFm5866EDNfzJbxnH9sSsxDFC3fY5wBIv/WRPi+KzgkClMnKvQFSzuvsTScc98iDm++g8d5BggbO/d0o53dkPcdmKlpuO8TS/4YXq3r33FDmN7lUP8vsDDzDEmeGYUTDxH0g4s7i+Q4Hh7JsTMWVdZHX0NIOyvWn8duF5A2NpJXI4ZRyDsj923HX7/XFoLM0ekyQkszqqk6LirORMSzl/XO1y2h/j3u2aQw3I7DiGY+j0XPMHivyrEHRVq08HsWvUiB7O6HDBb702DA/MeiLhE03wH6/1pYPa60gsO53yzwWxH2a0Oy49D1LOmdDiUVEHsdbnS4cB0IhXMThP54rDcB8JW0A50tCyBsOW6hRx3GkLCzcmswJEnAuIvjutpjsmqGWD28lRBx3wjiPvN5CUcZ+VA1Fvx7HKMqYSoP/nzguNHtmpIvO++5LjTyxei5utVx7+rUsBswaRGx3OxEPVmtxMdq6dD2M6NLI6JLhDzT3DIOP45BVGfcJDf8UggxL8+rkKOAmcg4t9msDkCABbm8yLcAgAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAFNoksmwnXPTI+zsJvuJh2caMDKAwIH/tnOdmUCsUrYm+/lWSWC2Ss8ie/7IRDA7+vY++5n3k8Hs2UvP2styQtScd91gX7sVoqaaYan9GjGImtNal+2XZUHUzLzZZu+mkQBmFy3cYa/zE6Lme+dO+4WLIGoePJ9ur7MDIr5v9l37E2+vxDBA3XbL0BEs/stfw0F2/yFTmPj+3y5g8dV3+B0uHIOYs8Zupb0cA4TNlH/L/tAUiNsO/b1jf5nhJT9M75a1r9hhbKMAiN9PyzM6FFbNjIKJW5+2BYtfvqbrcHcmxMykO9vt08Mh7A6mRfYfDkDYJfsv2e87AmGLu2yw36+wrBZmjkiTE1hcbgKTw67mTDDbyGSqfbYkxL/cYgH2dps5hGDqe5s8weIvD92wV6hNh6hn7rI3q8sBs4Xet9gz74GI8y3tsrfenwZmPzu/0P6cbzaYXSGyzH75cYj6O1JZ9iVVEHt16vPsmU6kgtl6y/fbL/eBsL/xhDtYlkDYcyWf2O80hISboRqTA08ExF+nLrA4JKtmgNksq27bK++FiFvdfGH/7CFEvVd7kINDEERc/bCyQ6cUxG0bZOUdbOMg4mx5Gg5/V6WA2fbdH+3PxULEFa49t6+eDmHHlR6yT3SBhM+/t8/s/5yCqN/D8tD+SCDETO47t+0FzkDElTUO2wMAgvOx39wCAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAFNoksmwnXPTQ/NSkevEwzMNGBlA4MB/27nOTCDWzTXFrvOtksDsiiNtrvyRiWB2UVWD68z7yWB2XUavqywnRM3jjjrX2q0QNWeOpLquEYOoKeJpcF2WBVFz3aHQ1U0jAcyulOhw1fkJUVNxrs114SKImuIrDa46OxDmn3h7JYYB6rZbho5g8Tlipa6y+w+ZwsT3/3YBi28D6r1wDGJO1sl6VzkGCDvqbYnroSkQt0WqlrheZnjJD9O7Ze0rdhjbKADid8PmDNfCqplRMHHr07Zg8XNrG1zvzoSYmfq90DU9HGpXe7HrhwMQ9rnqBtd9R6BhUt/mul9hWS3MHJEmJ7B4wq42113NmWD22hfFrtmSEP/Gh7W52m3mEIKp723yBIsvA/pLoTYdzDb/WuhqVpcDZm9P6nNl3gMRt1pb7Gq9Pw3MXifX7nrONxvOXn4con4ZMO5KqiD2enTWuTKdSEWo8YGwl7E1ulqWQNklja47DSHhpt2Y4coTkQRnJ6tmgNkbgPGovDcJ7s5nDyHqrUVLXR2CIOIaG1NdO6UgblMHsm3jIOIWkUWuf1elgNmWpsWu52Ih4tuA8V49HcJeCwyTRBdI+KwLaHf9cwqifqldg+uRwDS4GoEzKXC/AACtIyGv3AIAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAFNoksmwnXPTQ0tYwGHFq5kGjAwgcOC/WpkzE4g1fdEe+/lWSWA2z41l9vyRiWC2iMkH+5n3k8Fsldz39rKcEDXsGw/b126FqOFee9J+jRhETfpaEYdlWRA1l94dtnfTSACz81dKOOj8hKixWSTgsHARRA3brO/2Ojsg4tK6yg4n3l6JYYC67ZahI1g8dLe9g+mzQ6Yw8d2/XcDixZWmDnvmQ8zp0D1lL8cAtVdAxuHObojbNu21d7jG8JIfpnd62yt2GNsoAOJ38QRThwkLZ0bBxGWW2ILF3y23dbg7E2Jmrw+XQ3o4hL2Wk8PhwwEIe8aJ7/ZNryFsl/Wn7H//XFoLM0ekyQksrnXYwGFXcyaYHZD11j5bEuLfd/Vl9nabOYRg6nubPMHietdkHBRq08HsJR8r7M3qciDhfHiVPfMeiPiVhAf21vvTwOyumjf253yzIXq3sDosPw5RL6V+xr6kCmLvmqDt9kwnUsFslkecDst9IGwnrhQHyxIIu+SnuMNOQ0i4ydVfd+CJgPjrwP8eh2TVDDC79rmtQ74RxP0ZrA4Os3Ig6vtmnHCIqYSob1g+zyH3M8TM+//3OdjGQcRtbQ85/F2VAmZf4JvkcC4WIv5nR6ND9XRoGOaaOCS6QMw/dtbR4c8piPrVfw0djgRC/Jt2ysVB4AxEXGWWuQMAZZleIdwCAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAFNoksmwnXPTQ3Vtg+uKVzMNGBlA4MB/tTJnJhDr5ppi1/lWSWB2xZE2V/7IRDC7qKrBdeb9ZDC7LqPXVZYzCc6u3ZoI17tGDKKmQq7ddVkWRM11h0JXN40EMLtSosNV5ydUzbk214WLIGputhS76uxAmH/i7ZUYBqjbbhk6gsUTzze6mj47ZAoT3/3bBSx+Oqbfdc98iDn7v7W5yjFA2G6paa53dkPctj2s0fUaw0t+mN7pba/YYWyjAIjfU7jLXScsnBkFE5dZYgsWPwcMq7szIWY+k293TQ+HsF9Kdrh+OABhZ1wucm16DWE/rm9z/f1zaS3MHJEmJ7B4/LI2113NmWB2AjAcsiUh/o0Pa3O128whBFPf2+QJFldPTHVVqE0Hsy2+Frqa1eWA2aoXk12Z90DErQRLXK33p0H8mNTnes43G85efhyift2+dteSKoi9a4F2MZ1IhYgD42i5D4S93qvD1bIEyga6bachJNxWnGhy5YlIgrOTVTPgavKNIO7fANQ7KweiflfYBNeYSoj6ZXqNrrmfEebbxkHEl3o0uP5dlQJRc6/B9VwsRHwbMN6rpyfB3ZnoAjF/XUC7659TKXA3HwlMg6sROAMRX2rX4AoAHqEk2NwCAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAFNoksmwnXPTY/rmj3YrXs00YGQAgQP/1cqcmUCsY9Mb7eZbJYHZGZnadsoNiWC2WvM0u9YdyWC2nc5pO1lOiJobTd12tVshamQ+adqtEYOoWdS7125ZFkTNpF3qdon+CWD2K8+XdoKXIGoUMj7bLVwEUdPyc4adDtR8Gxsl+z/WV2MYoG5b9tgBLF4UUWpv+uyQKUx8928XsPiLdA/7PfMh5ogpLLCTY4CwjzFx29/ZDXHbsWox+2sML/lheqe3vWKHsY0CIH73kVC3n7BwZhRMXGaJLVj804M2++8HIGbuL/9o52sAYSddY7H/ABV/x8tm3/Qawm7Yssnu98+ltTBzRJqcwOLLbv2x29WcCWZfv/DS9rI9xL9Otnx213o4hGDqe5s8IW6uvG2nUJsOZv/7+9/WrC4HzI6488+WeQ9E/Dl/lJ31/jQw+4lRj90532ww++zUQrvlxyHq3Z0l7EqqIPa2mCnaMZ1IBbObHHbZLfeBsLnPO9hblkDYzy58sdtpCAm3A+cW2/FEQPz1OnuWXbJqBpj9v6PVLt8I4v4jM7/azcqBqJ+3IdIhphKifsnktw65nyFmPg9ncLSNg4iz7Prt8HdVCpjdd7Pd4VwsRPzynkyH6ukQduDBNLtEF4j5MrPO2f05BVH/6flyuyOBEP9+ur3ATuAMRFxK0ckOABuIsdncAgAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAFNoksmwnXPTg3NdiuuKVzMNGBlA4MB/tTJnJhDr9JoU1/lWSWD2dYdCV+WGRAj7S6Fr645kMPtaSoGrLCdEzUmHJNfarRA1ZzpSXdeIQdScupDsuiwLouaUTLJron8CRE1CqqvgJag5IYWuCxclwcV1oOZfBZr/x/pqDAPUbcseO4DF54iVupo+O2QKE9/92wUs7v4xzXXPfIg5YUsLXeUYIGy31DTXO7shbnNlTHO9xvCSH6Z389pX7DC2mCbE7/qP010nLJwZBROXWWILFjddn+L6/QDEzNTvha6+BhC2eXKq6weoOEhN02sIO2F7gevvn0trYeaINDmBxRcBw2RXcyaYvRjo38v2EP8uBIbhtR4OIZj63iZPsLh6YqqrQm06mK16MdnVrC4HzmbeAxFX70x1td6fBmYv5WlwPeebDXHb10LX5cch6i0uFrmWVEHs9eisc2U6kQpXv9wnFW6XZQmEvYyt0XWnISTctBszXHkikuDsZNUMiJorDa75RslwvbNyIOqtRUtdYyoh6nf29bvmfk6Fs23jIOI7pvS5/l2VAjfnXCxE3Cy1wLV6ehLcnYkuEPMtgH75cyoF7vcjgWlwNQJnUuD+BQAFaXLS3AIAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAFNoksmwnXPTw3hhrv2KVzMNGBlA4MB/tTJnJhDL67yh/XyrJDD70CQNe+WGRDDb53CgfeuOZDD7yeM0e1lOiBq+6zb2tVshapQeCdqvEYOoWbEyzX5ZFkRNUxS7faJ/Api9fXOeveAliBoTiXL7hYsgaqY3WtvrQM1/tHa6/R/rqzEMULcte+wAFv/25Iy96bNDpjDx3b9dwOKbNbfb75kPMSdL3sJejgHCLnXtsb+zG+I2PpU2+2sML/lhejevfcUOY4tpQvx+4cR8+wkLZ0bBxC1O20LMPPvG/vZMiJnS8ln2vgYQdt7+APsPByDspMYq+6bXEHbwcRf73z+X1sLMEWlyAovL1c+139WcCWb32CjYX7aH+PdyNYv9tR4OIZj63iZPsDiT82l7hdp0MLsoeIudWV0OmN226JAd8x6I+K6jf+2s96eB2TsyFezP+WaD2QdPCdovPw5Rn/Nvl11JFcRekTun7JhOpILZt+TD7Jf7QNg8zPvsLUsg7J3NZfY7DSHhVnR8qT1PBMRfgQvn2CerZkDSwNUq+3wjiPttehvsZ+VA1LuwyDnEVELUv4lkc8j9DDHT9T6bg20cRPzxPU6Hv6tSwGx12Vn252Ih4pkLJ9pXT4ewJ3nb2ie6QMwP0+yx/3MKov5QRrH9kUCIf78cLbAXOAMRrwj0twcAznFUvtwCAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAFNoksmwnXPTg/1SsuuKVzMNGBlA4MB/tTJnJhDrxoUi1/lWSWD245R6V+WGRDC7iKfBtXVHMphdEdbmKssJUXMtpcC1ditEzc01xa5rxCBqTl1Idl2WhVCT6J8AMf9FsavgJag559pcFy6CqCm+0uCqAzW/LqPX9Y/11RgGqNuWPXYAi886VuJq+uyQKUx8928XsLj7xzTXPfMh5jg1JrvKMUDYpi+jXO/shrjNlTHN9RrDS36Y3s1rX7HD2GKaEL/rP053nbBwZhRM3OK0LVg807zY9fZMiJmp3wtdfQ0g7Oz2YtcPB6B2rU9xbXoNYU++Xef6++fSWpg5Ik1OYPFFwDDZ1ZwJZkcD/XvZHuLfLR11rtd6OIRg6nubPMHiVi+LXRVq08Fs1YvJrmZ1OXA28x6IuOXFIlfr/Wlg9hJgHJ3zzQaz18m1uy4/DlG/rKrBtaQKYq9paoEr04lUhBofCNuytdjVsgTCXi/R4brTEBJudpzlrjwRSXB2smoGXH2+EcT9VkD2rByIemvRUteYSoh6jY2prrmfIWaqA9m2cRBxVcUU17+rUiDmmBa7nouFiHt01rlWT0+CuzPRBWK+xddC1z+nUuB+PxII8a+yY5KrwBmI+FKg3wGEUdKE3AIAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAFNoksmwnXPTI777l/2KVzMNGBlA4MB/tTJnJhCrXPaJ/XyrJDB7Gou8g3JDIpi9v0bWoXVHMpj9e56FgywnRI2FupRD7VaImihvDoc1YhA1j8q5HJZlQdTcVWZ1SPRPALOzXKwdBC9B1Hze6+SwcBFEzacGJQcdqPlu54wc/lhfjWGAum3ZYweweGBluYPps0OmMPHdv10g7lzm57BnPsScCEUlBzkGCJtTzc3hzm6I2xyvRDhcY3jJD9O7ee0rdhhbTBPid03WbIcJC2dGwcQtTtuCxU/mVTvcngkx83yPhoOvAYT9U1/B4cMBCFua29Ch6TWEHRvA5fD759JamDkiTU5g8f+XdBx2NWeC2VJK2+0v20P8Wx2iZ3+th0MIpr63yRMsvklB3kGhNh3M9nnXZW9WlwNmWyXX2jPvgYh3TOi1t96fBmZ3rWJ1OOebDYkj1Yn2y49D1LNtqrUvqYLY+6dkkj3TiVQw+0Iqt8NyHwj70noDB8sSCHuyjLnDTkNIuO37WevAEwHxV1/gXodk1QwwO/WOjkO+EcT9B+TUHGblQNRv0DroEFMJUb9j1QeHj2zVYPbRxpMOO718wWyJk2cc/q5Kgbifwc/hXCxEfXeTvEP1dAh77Wkhh0QXiPk3+5Uc/pyCqN/1SNzhSCDEv062Qg4CZyDiGvFiDgDacrHg3AIAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAFNoksmwnXPTQ4W3wXXFq5kGjAwgcOC/WpkzE4hVcaTNdb5VEpyt3JAIZtcn9bm27kgGs+syel1lOZPg7NqtEDVFUo2ua8SS4eqXZSHUJPongNkNMf2ugpeg5vzrdV24KAkuroNk/h/rqzEMULcte+wAFi992OFq+uyQKUx8928XsHi0aKnrnvkQc/bLtbvKMUDYkYIlrnd2Q9x2sKbD9RrDS36Y3s1rX7HD2GKaEL//fTvBdcLCmVEwcYvTtmDx1zs7XG/PhJj5LLDd1dcAwr7A3uj64QCEfW5tg2vTawj7z+xe198/l9bCzBFpcgKLJwDdtqs5E+LmKw2ul+0h/k0B+vdaD4cQTH1vkydY3OplsatCbTqYvdSuwdWsLgfC5mlwZd4DEVdbm+JqvT8NzF4HNP+cbzacvfw4RP2yqgbXkiqIvWvD2lyZTqSC2duBcbTcB8K2bC12tSyBsJexNbruNISE24oTTa48ERB/2XGWuyarZsDV5xtB3L9eosN1Vg5E/fJzja4xlUlwcz6yVSPM9PIFs3cC4/rvqhSI+IEG13OxSXC3VU9HsBNdkuF++XMqBe73I4EQ/24DhpvAGYj4uoB2VwC37p+u3AIAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAFNoksmwnXPTw1zGxn6n4CwDRgYQOPBf1N+ZCcTiWvbGbr5VEphd1/3MTrkhEcx+wCRm37ojGczW3qxnL8sJUeMuymlfuxWixodto90aMYiaQmVx+2VZEDUhM3baJfonQMyXMLAXvARR87Xa1H7hIogaJ+2fdjpQ810YU+29Nl6NYYC6LSLPASxeeXaefQDvYVOY+IIrLmBxg9Od9nvmQ8wxeCtoL8cAYXfkRtnf2Q1xW/jUaPtrDC/5YXo3r33FDmOLaUL8/uR0uf2EhTOjYOIWp20hbv65z/72TIiZpQn29r4GELbFNT17rhcQ9u0wH/uMIxD2GVF5+98/l9bCzBFpcgKLr5OOsN/VnAlmL0mba3fZHuJfrpN6dtd6OIRg6nubPMHiNa8D7RVq08HsyHo9O7O6HDB7+xZVO+Y9EHGFX6vsrPengdn15y7bnfPNBrOLX6yyW34col7lSq1dSRXE3lfx0XZMJ1LB7IyvEvbLfSDsqITJ9pYlEHaSlbH9TkNIuGmVatrzRED8FanFaJ+smgFm8+58Y5dvBHH/4xPS9rNyIOq97Z7ax1RC1L86ddz+I1s1mB30e5f9Ti9fMLt8x3n7v6tSwGz1a23252Ih6v//K7evng5hX/bUt090gZgfNCvR/s8piHpNPW/7I4EQ/6p5+dsLnIGI6zZo2wMArclP/9wCAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAFNoksmwnXPTg/1SsutOwVkGjAwgcOC/qL8zE4h1zaHQdb5VEpj9OKXeVbkhEcy+/qXQtXVHMpj9qKPOVZYTouakQ5Jr7VaImhsXilzXiEHUnLqQ7LosC6Em0T8BzD6TkOoqeAmi5lpIoevCRUlwcR0k8702Xo1hgLotIs8BLD7rWIlrAO9hU5j4gisuYHHXjamue+ZDzMk6We8qxwBhu3Smut7ZDXGbK2Oa6zWGl/wwvZvXvmKHscU0IX7Xf5zuOmHhzCiYuMVpW7C4tX2a6+2ZEDONLie7+hpA2ObJqa5cLyDs1O+FrhlHoOFW3+b6++fSWpg5Ik1OYPHVQP/uas4Es9e2FLtetof4dyEwfJ5t5hCCqa+N9gSLqyemuirUpoPZyhOTXM3qcsBs1YvJrsx7IOKWF4tcrfenQdzztdD1nG82mL1Ort11+XGI+qU8Da4lVRB7PTrrXJlOpCLU+EDYlq3FrpYlELbVy2LXnYaQcNNuzHDliUiCs5NVM8DsZVcaXPONIO63AuqdlQNRby1a6hpTCVGvAXT/R7ZqMFsNyN7p5QvxFzC+/q5KgdhrWux6Lhaifm1Ym2v1dAjbLLXANdEFYr4F0F9/TqXA2UcC0+DqBc6kwP0CAIUbZmfcAgAA" />
    <add key="/lpc/nct6798d/voltage/0/values" value="H4sIAAAAAAAEAHvJI5NhO+emx8pj3Pa/FzYaMDKAwIH/XCYxTCDWbk8e+ybhJDDbL0nAXqchEcyWZBGzn3k/Gcx+slTaXpYTooYljM++ditEzZ4SYfv+9xBxzjUy9ocnQtjFGYL2bhoJYHaHmKS98CWIOTrtYvYrFiXB2ao7IOKlkyXs7zXuimGAuu3U3Giw+JwjCvbT564yhYlHuMSCxQ3uqthvmQ8xRxtojhwDhB3QK25/bzfEbeyNovYfnS7ww/Tm7n/NDmNH/4kCq5HWl7Wva6+Ngonr7YsEi693V7S/OxNi5pe/Ivbp4RD2oyoR+w8HIOzmA1z2+45A2N80ZOyfP+uuhZnzZncM3G27mjPBbNF17PbZkhD/Wm3hsOcXfS8IU79HASK+FxieCrXpYLZL9xs7s7ocMDt7zxe7d1Mg4hMOfbULeJYGD/Nzvtlgto85p/3y4xD1y2az2OcGQ+xtey1oz/k+FR6Py30g7JDHqvaWJRC2bJSK/U7DRKi9OvY8ERB/Pf+taZ+smgFm/whWtueaBhG3uc9v/+AhRP0CKX17nyCI+J+VhvZzHCFue6VmaG8bBxHfPFff/u+qFDDbKUHV/lxsEjz8YwogbA6gXxqyIeGgt0nW/s8piHoHUzn7I4Fp8HQicAYivkZGyh4AqjWUytwCAAA=" />
    <add key="/lpc/nct6798d/voltage/1/values" value="H4sIAAAAAAAEAHvJI5NhO+emx/bPtfa/FzYaMDKAwIH/XCYxTCAWSDySw1oKxr7XuCuGAarm1NxouJrpc1eZwsQjXGLh4hui1dhh7I9OF/hhanL3v2aHsaP/RMHV17XXRsHE9fZFwsU/lXVxwtjPn3XXwtS82Y1wp+rcMywwNr/oe0GYmj0KyXA1vGVvrGFsANTT0kv8AAAA" />
    <add key="/lpc/nct6798d/voltage/2/values" value="H4sIAAAAAAAEAHvJI5NhO+emx1qZKIffCxsNGBlA4MB/LpMYJhALJD7fKgnO5o9MBLOVb0c6zLyfDBcXmiosDGPfa9wVwwA159TcaLiarUdWmcLErWRj4eJb5kPMnzUz0kGOAWHXvd2JcPZHpwv8ML25+1+zw9jRf6Lgauraa6Ng4nr7IuHin8q6OGHs58+6a2Fq3uxG+HFXcybcX9mSCH/xi74XhKnfo4AQD/t9mQXGfjclHSyuAtQb8CwNrmbSEh4eGNuyJBVu/k5DhL++bilThLEBwj6JWYwBAAA=" />
    <add key="/lpc/nct6798d/voltage/3/values" value="H4sIAAAAAAAEAHvJI5NhO+emx7+VgQ6/FzYaMDKAwIH/XCYxTCBWSUagw3yrJDD7D1ANf2QimP1KLdBh5v1kMLvtdaCDLCdCTe1WiBqQmf3vk+DswxOT4HrdNBLg5gtfSoazVyyCqCkGslV3JMPN/L5iVwwD1G0by6Lh5mw9ssoUJm4lGws3Z8v8JDhbjiEJ7s57uxPh4h+dLvDD9Obuf80OY0f/iYKbX9deGwUT19sXCRZPfBrgcHcmwr/p4QjzPxxAiO87gvD782fdtTBz3uyOgYvvas6Es7MlEeHJL/peEKZ+jwIifBRq0+FqzOpy4Ha9m5IOZwc8S4O7/5xvNtz85cdz4ObkBmfC1XO+T4WrX+rVxwljJ6tmwO3imobw14OHifBwUP2kxQ5j/12VgrA3FuH3mAIEuyEb4Zc/p1Lg4kcCEW4WOIMQBwDwNS7BoAIAAA==" />
    <add key="/lpc/nct6798d/voltage/4/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwNDg/3vhY0GjAwgcOA/l0kME5gJFI/ksJaCsb+v2BXDAFWzsSwarmbrkVWmMHEr2Vi4+IZoNXYY+6PTBX6Ymrpnr9lhbK+rUXD1de21UTBxvX2RcPFPZV2cMPbzZ921MDVvdiPcqTr3DAuMzS/6XhCmZo9CMlwNb9kbaxgbAMncqgT8AAAA" />
    <add key="/lpc/nct6798d/voltage/5/values" value="H4sIAAAAAAAEAHvJI5NhO+emx4RDpfa/FzYaMDKAwIH/XCYxTCAWSDySw1oKxv6+YlcMA1TNxrJouJqtR1aZwsStZGPh4hui1dhh7I9OF/hhauqevWaHsb2uRsHV17XXRsHE9fZFwsU/lXVxwtjPn3XXwtS82Y1wp+rcMywwNr/oe0GYmj0KyXA1vGVvrGFsAEwwAN38AAAA" />
    <add key="/lpc/nct6798d/voltage/6/values" value="H4sIAAAAAAAEAHvJI5NhO+emx/bPtXa/FzYaMDKAwIH/XCYxTCAWSDySw1oKxv6+YlcMA1TNxrJouJqtR1aZwsStZGPh4hui1dhh7I9OF/hhauqevWaHsb2uRsHV17XXRsHE9fZFwsU/lXVxwtjPn3XXwtS82Y1wp+rcMywwNr/oe0GYmj0KyXA1vGVvrGFsAHIr/yX8AAAA" />
    <add key="/lpc/nct6798d/voltage/7/values" value="H4sIAAAAAAAEAHvJI5NhO+emh/LtSAfBk40GjAwgcOD/F54YJhBr1sxIh/lWSWB2h1ikA39kIpgtGBHpMPN+MlxcljMJLl67FaGm/z1EHGT+4YkINW4aCXC9wpcQ5qxYhFCjugMh/n3FrhgGqNs2lkXDxbceWWUKE7eSjYWLX5p/hAXGvrcb4Z6PThf4Yerrnr1mh7G9rkbB9U5dVxsFExefHgkX/1TWxQljP3/WXQtT82Z3DFzNruZMuF3ZkslwNr/oe0GY+j0KCHGF2nS4Xif3ZXDzlx/PgavJDc6Eq+F8nwoXX+6TChe3LEGwdxoi/MsTgYi7me/74ObPcUyDq7GNQ4T531Up8HjXOgcJQxC7IRsRFwdkTsPDVuAMQj0AG0jdfEwCAAA=" />
    <add key="/lpc/nct6798d/voltage/8/values" value="H4sIAAAAAAAEAHvJI5NhO+emhyRLmIPgyUYDRgYQOPD/C08ME4gFEo/ksJaCsb+v2BXDAFWzsSwarmbrkVWmMHEr2Vi4+IZoNXYYmy/rAj9MTeL+1+wwttfVKLj6qetqo2Di4tMj4eKfyro4Yeznz7prYWre7Ea4U3XuGRYYm1/0vSBMzR6FZLga3rI31jA2AF3Cyyr8AAAA" />
    <add key="/lpc/nct6798d/voltage/9/values" value="H4sIAAAAAAAEAHvJI5NhO+emx7WKTHvBk40GjAwgcOD/F54YJhALJB7JYS0FY39fsSuGAapmY1k0XM3WI6tMYeJWsrFw8Q3RauwwNl/WBX6YmsT9r9lhbK+rUXD1U9fVRsHExadHwsU/lXVxwtjPn3XXwtS82Y1wp+rcMywwNr/oe0GYmj0KyXA1vGVvrGFsAHVYJun8AAAA" />
    <add key="/lpc/nct6798d/voltage/10/values" value="H4sIAAAAAAAEAHvJI5NhO+emx7LZR+wETzYaMDKAwIH/X3himEAskHgkh7UUjP19xa4YBqiajWXRcDVbj6wyhYlbycbCxTdEq7HD2HxZF/hhahL3v2aHsb2uRsHVT11XGwUTF58eCRf/VNbFCWM/f9ZdC1PzZjfCnapzz7DA2Pyi7wVhavYoJMPVTA6eogtjn4tNAot/WH7MLqYgCa6mIRui/tTCo3Z/TqXAxa/InoabDwAXcchwOAEAAA==" />
    <add key="/lpc/nct6798d/voltage/11/values" value="H4sIAAAAAAAEAHvJI5NhO+emR75Qs73gyUYDRgYQOPD/C08ME4gFEo/ksJaCsb+v2BXDAFWzsSwarmbrkVWmMHEr2Vi4+IZoNXYYmy/rAj9MTeL+1+wwttfVKLj6qetqo2Di4tMj4eKfyro4Yeznz7prYWre7Ea4U3XuGRYYm1/0vSBMzR6FZLga3rI31jA2AOkSB8f8AAAA" />
    <add key="/lpc/nct6798d/voltage/12/values" value="H4sIAAAAAAAEAHvJI5NhO+emR75Qs73gyUYDRgYQOPD/C08ME4gFEo/ksJaCsb+v2BXDAFWzsSwarmbrkVWmMHEr2Vi4+IZoNXYYmy/rAj9MTeL+1+wwttfVKLj6qetqo2Di4tMj4eKfyro4YexAz75amJqmSIRe1blnWGBsftH3gjA1exSS4Wp4y95Yw9gAdC7FtPwAAAA=" />
    <add key="/lpc/nct6798d/voltage/13/values" value="H4sIAAAAAAAEAHvJI5NhO+emx1GFDXaCJxsNGBlA4MD/LzwxTCAWSHy+VRKYbWK82Y4/MhHM5tfdZDfzfjKcLcuJUCMa384JYwtfQqhZsSgJzlbdkQxX/33FrhgGqL0by6LB4pGWW+y2HlllChO3ko2Fi2+IVmOHsfmyLvDD1CTuf80OY3tdjYKrn7quNgomLj49Em7v3ZkI96SHQ9iv1DbafTiAEN93BCEe6NlXCzOnKTIKHj6qc8+wwNj8ou8FYWr2KCTD1fCWvbGGsQET4uq9dAEAAA==" />
    <add key="/lpc/nct6798d/voltage/14/values" value="H4sIAAAAAAAEAHvJI5NhO+emR75Qs53gyUYDRgYQOPD/C08ME4gFEo/ksJaCsb+v2BXDAFWzsSwarmbrkVWmMHEr2Vi4+IZoNXYYmy/rAj9MTeL+1+wwttfVKLj6qetqo2Di4tMj4eKfyro4YexAz75amJqmSIRe1blnWGBsftH3gjA1exSS4Wp4y95Yw9gAie492/wAAAA=" />
    <add key="/lpc/nct6798d/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/temperature/1/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDH0fBk40GjAwgcOD/F54YJjATKG68eYMAjO2mkQAV/+UofCkZruZs1DEWGPv7il0xDFBzNpZFQ9X8cNx6ZJUpTNxKNhYuvmV+EpwtxwBj/3S8tzsRbhdf1gV+mN7mZ6/ZYWyNdVFQNQxOU9fVRsHExadHwt32qayLE8YO9OyrhalpioyCq1Gdewbufn7R94IwNXsUEH6cUrYIbs4532y425Yfz4G7OTc4E+4XzvepcPZyn1S4esuSVLiZRq59cDMfPIT596+jT1AS3F9zHNPgbNs4mDiTk3qlJjuM3ZCdDFdz4YU+O4wNAEc2UkLgAQAA" />
    <add key="/lpc/nct6798d/temperature/2/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDA0fBk40GjAwgcOD/F54YJjATKB7JYS0FY39fsSuGAapmY1k0XM3WI6tMYeJWsrFw8Q3RauwwtsbEC/wwNZn7X7PD2BrrouDqp66rjYKJi0+PhIt/KuvihLEDPftqYWqaIhF6VeeeYYGx+UXfC8LU7FFIhqvhLXtjDWMDAFNr1tD8AAAA" />
    <add key="/lpc/nct6798d/temperature/3/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDeifBk40GjAwgcOD/F54YJjATKD7fKgnCPrDOiT8yEcJuWOc0834yXFyWE6GmditCTf/7JDj78EQo22Gdk5tGAlxc+BLCnBWLEOpVdyTD1fNf2BXDAHXbTP9oqNvWOR1/vcoUJq7xLQaufsv8JLiaP7sPs8DYGhMv8MPUZ+5/zQ7Xuy4K7t+p62qjYOLi0yPh4i4fj7DA2B8OIPy770gSXE2gZ18tTG9TJMJM1bln4Hr5Rd8LwtTsUUiGq9nLka4GY89xTIP6Zb2TbRzMrvVOf1elQNVvcFplqcEOY/85lQJXfyQwDW6mwJkUOBsA5p8keOwBAAA=" />
    <add key="/lpc/nct6798d/temperature/4/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwODhJPgyUYDRgYQOPD/C08ME5gJFI/ksJaCsfkv7IphgKqZ6R8NV3P89SpTmLjGN4TeDdFq7DC2xsQL/DA1mftfs8PVr4uCq5+6rjYKJi4+PRIu/qmsixPGDvTsq4WpaYpE6FWde4YF7k7R94IwNXsUkuFqeMveWMPYALQPhc78AAAA" />
    <add key="/lpc/nct6798d/temperature/5/values" value="" />
    <add key="/lpc/nct6798d/temperature/6/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDAifBk40GjAwgcOD/F54YJjATKB7JYS0FY/Nf2BXDAFUz0z8arub461WmMHGNbwi9G6LV2GFsjYkX+GFqMve/ZoerXxcFVz91XW0UTFx8eiRc/FNZFyeMHejZVwtT0xSJ0Ks69wwL3J2i7wVhavYoJMPV8Ja9sYaxAYulauL8AAAA" />
    <add key="/lpc/nct6798d/fan/0/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwMQ6H1oNGAEMRgO/L/+NJqJAQoiOaylYGz+C7tiGKBqZvoj1Bx/vcoUJq7xLQYuviFajR3G1ph4gR+mJnP/a3a4+nVRcPV7r9ZGwcTf50fCxT+VdXHC2IGefbUwNU2RCL2qc8+wwN0p+l4QpmaPQjJcDW/ZG2sYGwBqd+Wo/AAAAA==" />
    <add key="/lpc/nct6798d/fan/1/values" value="H4sIAAAAAAAEADWQXUhTYRzGVwQyGZ1ExKQPzLBGQR9UUpEXwUNmLNK6sOlSy0prRcG68Oak2UWyc3a2AzVdOgfDsFYLUmtzfWA5sCLWECK8KPtAoYTNCKKLovB9PO/Vjx/P+7z///vNsrKlvHdy//edOjbNXdmyyDR/Rv+9n65bPE8VXd0I7T4huGOFB5L9uODhsBuBqSbBv98qWGVmZrtbhfyQmZvtCrxZ+vVLVIzp5ANpBfusjYKH+lXkT7An0qbhdpiZ5a9UlMbph84qkNIJh2lhtsAhziZHb2B8NrLD8NZfDuFzC3QMh9hTssaH1SZyVb6Kj485W1fKC6ueloy7rTOzOQYXXasVmRfbevD0nVxr+OwFu/B9wW58CLAz5vKjuWZhZrsPc6Nk208Nz5Lk8AMPqis12ejpsLO/1RJE4uoZwRNWHc4i7pv56oZUkM0z8k+K6ev6e1AsNwt2mX0ou3xO8Fq/G5nr9I90BVUzpwXfmVSQOugUHL+rYGCc+bznCs4f4bt7yhSYs6cEFyoeDNjI0kYNuy6Rawp9GNnKf9uQ8MNylHu9bLiPptIW7jgWRa6f3nUviE+fmY919sF2mL6iM4revZxtKhRDeT19pnIEfyMnBSe/xJE6Ro+cQTgukqcbb6HdyX9Y1xbAn9fML/3hRbKancnNGpa9oS9RPfgPZvWp7twCAAA=" />
    <add key="/lpc/nct6798d/fan/2/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwMQ6H1oNGAEMRgO/L/+NJqJAQoiOaylYGz+C7tiGKBqZvoj1Bx/vcoUJq7xLQYuviFajR3G1ph4gR+mpuLZa3YYW7I9Cq5+79XaKJj4+/xIuPinsi5OGDvQs68WpqYpEqFXde4ZFrg7Rd8LwtTsUUiGq+Ete2MNYwMA+7lqL/wAAAA=" />
    <add key="/lpc/nct6798d/fan/3/values" value="H4sIAAAAAAAEADWQXUhTYQCGVxeVJk0ZQaMZK5B2FRUoWEgYL56zjjturaabm5jzb22pUEE3i1mDcBeVIMVqISTkz7VJLRUhwX6GrKAiotWMpDKcVwuGYfi9nXP18PB+73m/72eJqbsm8VE2HXfi0Fr/4S26zW9u48P35q2bZC5uxfCxNsF/3ivQu88JfvNNQvyLX3DsqBXlRcx0uiWEHzOT/1SHWzn6gYsyng+S97+QUWdpFVzqOwXDW/a48jaMPWTGVKug4gn9yykZ+nTSq/u/Ld7AbYVqFxZWJio1b8l7uTPuxOQwewon7NinIx+YsiLzjNvUvQ2wDKb12tkryyvbNTbe8IhM8+t2zLwLezSf63UL33SvBZ/j7Lw95ENXI3kjewZrc+QHMypm58lVIwoc1pthreeam/32gwEkrwcE31VcCBp530xGgn53rkzLT5vpx1IdMIe7BPf+dqDqakjwrh4Jq0P0fZUy7MudgrfZrVi0BQWXRa0YXWA+mZJwwcn/7oSEolyH4Gxaxmg9OZBQUH2JvN6m4ukRvtvJHjdKmnivaHkE/opuwWfvR1B8h176FcLXLPONhfOoP01ve9SPRC23jRhjqGmhH7cP4O9Eu+Afe2JY9NEvGaLw9pENS5cRCfIdpkN+rL9ifnXciXkHO3dMqihN0XuiKv4BTd904twCAAA=" />
    <add key="/lpc/nct6798d/fan/4/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwMQ6H1oNGAEMRgO/L/+NJqJAQoiOaylYGz+C7tiGKBqZvoj1Bx/vcoUJq7xLQYuviFajR3G1ph4gR+mpuLZa3YYW7I9Cq5+79XaKJj4+/xIuPinsi5OGDvQs68WpqYpEqFXde4ZFrg7Rd8LwtTsUUiGq+Ete2MNYwMA+7lqL/wAAAA=" />
    <add key="/lpc/nct6798d/fan/5/values" value="H4sIAAAAAAAEAHvJI5NhO+emh/E5aVe9D40GjAwgcOD/9afRTCCW91FN1/lWSWD2tZmarvyRiWC2/0ZN15n3k8HsCes1XWU5IWqqj2u61m6FqLkKVN//HiIumCzjengihH3MWdPVTSMBzD4crukqfAliTiy7luuKRUlwM1V3JMPdwH9hVwwD1G0z/SFuk5DVcj3+epUpTFzjWwxc/Zb5EHMKwmRc5Rgg7HuPtFzv7U6E26Ux8QI/TG/Fs9fsMLZkexRYzaZjmq57r9ZGwcTf50fC/Xh3JsKd6eEQ9hGgXz4cQNi17wiErXBOyzXQs68WZk5TZBRc767mTDBbM1LTNVsS4t/FHzVdU8o/CsLUp++DhJXdQi1Xhdp0MDu8VMvVrC4HzF6Xr+n6bko6nB3wLA3id08t13O+2WC22WRp1+XHc+DhlhsMsbfql5Yr5/tUMHvVEy3X5T4QtmC3lqtlCYTdBVS/0xASbu8eS7vyRED8xbVYyzVZNQPMPgGMU65pEHEhoN4HDyHqlwRpu/oEQcS1gH6c4whxmzSzpqttHET8wFlp17+rUsDsMKC/zsUmwe2NKYCwXYy1XBuyIeGz6YyW659TEPUCplquRwLT4HEqcAYivg2oHgCZU2Id3AIAAA==" />
    <add key="/lpc/nct6798d/fan/6/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwMQ6H1oNGAEMRgO/L/+NJqJAQoiOaylYGz+C7tiGKBqZvoj1Bx/vcoUJq7xLQYuviFajR3G1ph4gR+mpuLZa3YYW7I9Cq5+79XaKJj4+/xIuPinsi5OGDvQs68WpqYpEqFXde4ZFhg7pfyjIExN+r4EuBresjfWMDYAqD83b/wAAAA=" />
    <add key="/lpc/nct6798d/control/0/values" value="H4sIAAAAAAAEAHvJI5NhO+emR1ZmpZOTeJMBIwMIHPh/eF80E4jl413vNN8qCcxWVi524o9MBLM72oudZt5PhovLckLUREUVOdVuTYSL979H6D08EaHGTSMBzHZ3K3MSvgQxp6S43GnFoiS4+ao7IOJ1taVO6t93xTBA3daogXDbQ6HVpjBxvvMxYPGw0FqnLfOT4HrlGBBuuLcb4jaQf613XOCH6a199podxmZMiAKr0dBocbr8pzYKJn7TIxIs/udXk9PdmUlwN6SHJ8HN/HAAwr5xvdxp3xGEvYGefbUwc5oiIeYbGTU57WrOhPs9WxLi35MnCpxSyj8KwtSn74OElbl5o5NCbTrcX2Z1OWD2pImFTu+mQMT37ytyCniWBmavXlXmdM43Gy6+/HgO3D25wZlwvZzvU8HsRw9LnZb7pML1WpZA2MZGVU47DSHhJifX5sQTAfGXAP9kp2TVDDBbV7fXiWtaEtxfDx4mQtV0OvkEQcS5uKY4zXGEuC0hfrqTbVwSnP13VQqYPX3aNKdzsRDxDesnOsUUQNiSku1ODdnJUHManP6cSoGH25HANHj4C5xJgbsfAMfIt7LcAgAA" />
    <add key="/lpc/nct6798d/control/1/values" value="H4sIAAAAAAAEAHvJI5NhO+emR3MTm1O0XZMBIwMIHPi/ano0E4ilq8vrNN8qCcxeuIDBiT8yEcy2sWFwmnk/GS4uywlR8+LZP8farYlw8f73CL2HJyLUuGkkgNnx8cxOwpcg5mhosDitWJQEN191B0TcyIjJyUJudwwD1G0FjAi3/bJcbQoT/7o8Bix++RKX05b5SXC9cgwIN9zbDXGbnBybU+j9C/wwvXXPXrPD2M8sosBqEuLFnd4o10XBxA8oRoLF2VhFne7OTIK7IT08CW7mhwMQ9pHDzE77jiDsDfTsq4WZ0xQJMZ+fX9hpV3Mm3O/ZkjD//nJMKf8oCFOfvg8SVlu3CDgp1KbD/WVWlwNm9/T8cXw3JR3qhn+OAc/SwOzfv5iczvlmw8WXH8+Buyc3OBOul/N9Kph97iyj03KfVLheyxIIe8N6dqedholQtrQTTwTEX29emzslq2ZAw0rbiWsaRHzVKiGnBw8h6qOilJx8giDiq1dZOc1xhLitucnJyTYuCc7+uyoFGg4OTudiIeInT5g4xRRA2MuWyjo1ZCdDzeRz+nMqBR5uRwLT4OEvcCYF7n4Aeu+j8NwCAAA=" />
    <add key="/lpc/nct6798d/control/2/values" value="H4sIAAAAAAAEAHvJI5NhO+emR1ZmpVO0XZMBIwMIHPi/ano0E4jl413vNN8qCcxWVi524o9MBLM72oudZt5PhovLckLUREUVOdVuTYSL979H6D08EaHGTSMBzHZ3K3MSvgQxp6S43GnFoiS4+ao7IOJ1taVOFnK7YxigbitgRLjtl+VqU5j41+UxYPGw0FqnLfOT4HrlGBBuuLcb4jaQf0PvX+CH6a179podxn5mEQVWo6HR4vRGuS4KJn5AMRIs/udXk9PdmUlwN6SHJ8HN/HAAwr5xvdxp3xGEvYGefbUwc5oiIeYbGTU57WrOhPs9WxLi35MnCpxSyj8KwtSn74OElbl5o5NCbTrcX2Z1OWD2pImFTu+mQMT37ytyCniWBmavXlXmdM43Gy6+/HgO3D25wZlwvZzvU8HsRw9LnZb7pML1WpZA2MZGVU47DSHhJifX5sQTAfGXAP9kp2TVDDBbV7fXiWtaEtxfDx4mQtV0OvkEQcS5uKY4zXGEuC0hfrqTbVwSnP13VQqYPX3aNKdzsRDxDesnOsUUQNiSku1ODdnJUHManP6cSoGH25HANHj4C5xJgbsfAGd3YCrcAgAA" />
    <add key="/lpc/nct6798d/control/3/values" value="H4sIAAAAAAAEAHvJI5NhO+emR3MTm1O0XZMBIwMIHPi/ano0E4ilq8vrNN8qCcxeuIDBiT8yEcy2sWFwmnk/GS4uywlR8+LZP8farYlw8f73CL2HJyLUuGkkgNnx8cxOwpcg5mhosDitWJQEN191B0TcyIjJyUJudwwD1G0FjAi3/bJcbQoT/7o8Bix++RKX05b5SXC9cgwIN9zbDXGbnBybU+j9C/wwvXXPXrPD2M8sosBqEuLFnd4o10XBxA8oRoLF2VhFne7OTIK7IT08CW7mhwMQ9pHDzE77jiDsDfTsq4WZ0xQJMZ+fX9hpV3Mm3O/ZkjD//nJMKf8oCFOfvg8SVlu3CDgp1KbD/WVWlwNm9/T8cXw3JR3qhn+OAc/SwOzfv5iczvlmw8WXH8+Buyc3OBOul/N9Kph97iyj03KfVLheyxIIe8N6dqedholQtrQTTwTEX29emzslq2ZAw0rbiWsaRHzVKiGnBw8h6qOilJx8giDiq1dZOc1xhLitucnJyTYuCc7+uyoFGg4OTudiIeInT5g4xRRA2MuWyjo1ZCdDzeRz+nMqBR5uRwLT4OEvcCYF7n4Aeu+j8NwCAAA=" />
    <add key="/lpc/nct6798d/control/4/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwNDgVO0XZMBIwMIHPi/ano0E5gJFI/ksJaCsS3kdscwQNUUMCLU/LJcbQoT/7o8Bi6+IVqNHcYOvX+BH6am7tlrdhj7mUUUXP0b5boomPgBxUi4+KeyLk4YO9CzrxampikSoVd17hkWGDul/KMgTE36vgS4Gt6yN9YwNgD4qDmk/AAAAA==" />
    <add key="/lpc/nct6798d/control/5/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDCadouyYDRgYQOPB/1fRoJjATKB7JYS0FY1vI7Y5hgKopYESo+WW52hQm/nV5DFx8Q7QaO4wdev8CP0xN3bPX7DD2M4souPo3ynVRMPEDipFw8U9lXZwwdqBnXy1MTVMkQq/q3DMsMHZK+UdBmJr0fQlwNbxlb6xhbADHAtaI/AAAAA==" />
    <add key="/lpc/nct6798d/control/6/values" value="H4sIAAAAAAAEAHvJI5NhO+emBwPDCafi1CYDRgYQOPB/UkE0E5gJFI/ksJaCsS3kdscwQNUUMCLU/LJcbQoT/7o8Bi6+IVqNHcYOvX+BH6am7tlrdhj7mUUUXP0b5boomPgBxUi4+KeyLk4YO9CzrxampikSoVd17hkWGDul/KMgTE36vgS4Gt6yN9YwNgC2aB4N/AAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>